config/database.yml
pdf_confirmations/
e.sql
db/sphinx
config/*.sphinx.conf
config/deploy/*.rb
config/deploy/production.rb
config/deploy/staging.rb
config/deploy/development.rb
config/deploy/symlinks.rb
config/deploy.rb
config/database.yml
config/sphinx.yml
log/*
.idea
.rvmrc
public/logos
public/xmls
public/logo_his
ody_xml_data/
pdf_proforma_invoices/
misc/
secure_assets/
tags
.DS_Store
.bundle
config/initializers/pow-settings.rb
tmp
config.ru
db/schema.rb